/*****************************header********************************************/

$background_principal_header: #D8E8F5;
$texto_header: #435B77;
$border_bottom_header: #6484AC;

/******************************index********************************************/
$texto_titulo_index: #364D67;
$subtitulo_index: #435B77;
$background_botton: #222D3F;
$texto-vermas: #D8E8F5;

/******************************modelos********************************************/
$background-color: #222D3F;

/******************************acerca de********************************************/

$titulo: #222D3F;
$color-de-la-base: #222D3F;

/******************************Footer********************************************/

$background_principal_footer: #222D3F;
$texto_footer: white;