.footer-boostrap {
    background-color: $background-principal-footer;

    .Veltro_logo_footer {
        width: 15rem;
    }

    .textos_footer ul li a {
        font-size: 1.6rem;
        font-weight: 300;
        color: $texto-footer;
    }

}