.grid-acerca-de {
    @include grid (repeat(2, 1fr), repeat(3, 25rem), none, none, 1rem);
    margin-bottom: 3rem;
    width: 100%;

    .adaptabilidad {
        display: flex;
        @include grid-position (1, 3, 1, 1, none);
        @include font (48px, 600, $titulo);
        background-color: #D8E8F5;
        border-radius: 80px 0px 0px 80px;
        margin: 60px 0px 20px 60px;
    }

    .ideal-entornos-urbanos {
        @include grid-position (1, 1, 2, 2, center);
        @include font (1.8rem, 400, #222D3F);
        padding-left: 5rem;
        padding-right: 5rem;
        margin: 0;
    }

    img {
        @include grid-position (2, 2, 2, 3, none);
        justify-self: center;
        transform: scale(1.2);
        box-shadow: 0px 2px 28px -9px #b1d0ef;
        border-radius: 8px;
        object-fit: cover;
    }

    .la-vida-carretera {
        @include grid-position (1, 1, 3, 3, center);
        @include font (1.6rem, 400, white);
        z-index: 1;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .backgorund_redondeo {
        @include grid-position (1, 3, 3, 3, none);
        background-color: #222D3F;
        border-radius: 0px 0px 10rem 10rem;
    }


}