/****************************beneficios**********************/
@media (max-width:1750px) {

    .detalle-producto {


        div {
            width: 45rem;
            height: 20rem;

            p {
                @include font (1.4rem, 400, none);
                width: 50%;

            }
        }

    }

    /****************************acerca de**********************/
    .grid-acerca-de {
        img {

            transform: scale(1);

        }
    }
}