@media(max-width:375px) {

    /*************************producto***********************/
    .comodidad-pasajero {
        .auto-comodidad {
            height: 17rem;
        }

    }

    /************************beneficios*******************/

    .conteiner-features img {
        display: none;

    }

    .features {

        .conteiner-features {

            h2 {
                margin-top: 0rem;
            }
        }

    }
}