@media(max-width:768px) {

    /*********************************header**************************/

    nav .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
    }


    .menu ul {
        flex-direction: column;
        align-items: flex-end;
        padding: 2rem 0rem;
    }

    nav label {
        display: inline-flex;
        cursor: pointer;
    }

    nav #toggle:checked~.menu {
        height: 100%;
    }

    /*********************************index**************************/
    .index {
        padding: 0 2rem;

    }

    /*********************************Producto**************************/
    .comodidad-pasajero {
        @include flex (row, none, center, 0rem);
        flex-wrap: wrap-reverse;
        padding: 0;
        height: 52rem;

        p {

            width: 100%;
            padding: 0rem 3rem;
            padding-top: 3rem;
        }

        .auto-comodidad {
            position: relative;
            height: 30rem;
            top: 5rem;

        }
    }


    .detalle-producto {
        @include grid (100%, repeat(3, 1fr), center, none, 10rem);

        div {
            @include flex (column, center, none, none);
            width: 90%;
            height: 30rem;

            img {

                height: 75%;
                position: relative;
                left: 0rem;
                top: -9rem;

            }

            p {
                @include font (1.6rem, 400, none);
                width: 100%;
                padding: 1rem 1rem;
                margin-left: 0rem;
                margin-top: -7rem;
                text-align: center;

            }
        }
    }

    .marcar-el-camino {

        div {
            h3 {
                @include font (2.4rem, 600, none);
                width: fit-content;
            }

            p {
                @include font (1.8rem, 300, none);
                width: fit-content;
            }
        }

        .el-camino-auto {
            width: 100%;
            height: 100%;

        }

    }


    /*********************************beneficios*********************/

    @media(max-width:768px) {
        .features {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-row-gap: 10rem;
            width: 100%;
            padding: 6rem 0 20rem 0;

            .conteiner-features {
                width: 80%;
                height: 100%;
            }
        }

        .titulo-trofeo-nominado {
            width: 90%;
            gap: 1rem;


            .nominado {
                font-size: 1.8rem;
                padding-right: 2rem;
            }

            img {
                width: 12rem;
            }
        }

        .vida-auto {
            padding-top: 10rem;
            padding-left: 2rem;
            padding-right: 2rem;

            .texto-blanco-beneficios {
                font-size: 2.6rem;
            }
        }
    }

    /*********************************modelos*********************/

    .conteiner-modelos {
        @include flex (column-reverse, start, start, 0rem);
        height: 96rem;

        .texto-modelos {
            padding: 3rem 2rem;

        }

        .auto-rojo {
            width: 80%;
            height: 80%;
            padding-bottom: 14rem;
        }

    }

    .autos-colores {
        @include grid (repeat(1, 1fr), repeat(4, 1fr), center, center, 0);
    }


    /*********************************acerca de*********************/
    .grid-acerca-de {
        @include grid (100%, 20rem 20rem 30rem 30rem, none, none, 3rem);

        .ideal-entornos-urbanos {
            @include font (1.6rem, 400, #222D3F);

        }

        img {
            border-radius: 0px;
        }

        .la-vida-carretera {
            .frase {
                display: none;
            }
        }
    }

}